:root {
  --orange: #ffa500;
  --dark-orange: #e49400;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: auto;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
}

body > div {
  display: grid;
  place-items: center;
}

h3,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 6px;
}

footer {
  width: 80%;
  margin: 3.2rem auto;
  text-align: center;
}

footer > h4 {
  display: inline;
}

iframe {
  display: block;
  margin: 3.2rem auto;
  border: none;
  width: 100%;
}

ul {
  padding: 0 1.5rem;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.new-meal-button {
  background-color: orange;
  padding: 1.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: background-color 0.25s;
}

.new-meal-button:hover {
  background-color: rgb(228, 148, 0);
  cursor: pointer;
}

.meal {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  column-gap: 3.2rem;
  width: 80%;
  margin: 4.8rem auto;
}

.meal-title {
  margin-top: 0;
}

.left {
  width: 35%;
}

.right {
  flex: 1;
  width: 55%;
}

.right p {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .area-div {
    display: flex;
    justify-content: space-between;
  }

  .meal {
    flex-direction: column;
  }

  .meal-title {
    margin: 2rem 0;
  }

  .left {
    width: auto;
  }

  h3 {
    text-align: left;
    margin: 2rem 0;
  }

  .right {
    width: auto;
  }

  h2 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  iframe {
    height: 25rem;
  }

  a {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 375px) {
  .subtitle {
    word-wrap: break-word;
  }

  iframe {
    height: 22rem;
  }
}